.Announcements {
  &__search-form-container {
    display: flex;
  }

  &__search-form {
    margin: 0;
  }
}

.search-form {
  &__title-input {
    width: 200px;
    border: none;
    outline: none;
    background-color: #dddddd;
    border-radius: 0.2rem;
    padding: 5px 10px;
  }
}
