.announcements {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    padding: 15px 10px;
    border-radius: 0.4rem;
  }

  &__button {
    font-family: inherit;
    background-color: #eee;
    padding: 6px 10px;
    @extend %button;

    &:hover {
      background-color: #fff;
    }
  }
}
