@import "../../styles/utils/mixins";

.add-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title-input {
    padding: 10;
  }

  &__body-input {
    resize: none;
  }

  &__submit {
    @include button;
  }
}
