@import "src/styles/_variables"

;@mixin button {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  background-color: $main-color;
}
