@import "../../styles/utils/extends";
@import "../../styles/utils/vars";

.add-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title-input {
    padding: 6px 10px;
    font-size: 16px;
  }

  &__body-input {
    resize: none;
    padding: 6px 10px;
    font-size: 16px;
    height: 180px;
  }

  &__submit {
    @extend %button;

    transition: background-color 0.5s;

    &:hover {
      background-color: $main-color;
    }
  }
}
